<App>
	<!-- XML文件的版本号，程序检查此项的值与服务器做对比，决定更不更新 -->
	<XMLVer>1.0</XMLVer>

	<AppVer>1.1</AppVer>

	<AppName>测试游戏</AppName>

	<AppID>123456</AppID>

	<ChannelID>23</ChannelID>
	
	<MMSDKConfig>
	    <MMKey>300001471175</MMKey>
	    <MMID>9F61262A660D8AEB</MMID>
	</MMSDKConfig>

	<MDOConfig>
		<DeductionNum>10658077016631</DeductionNum><!-- 扣费长号 -->
		<ContentIndex>252436</ContentIndex><!-- 内容编号 -->
		<ContentName>捕鱼达人土豪金</ContentName><!-- 内容名称 -->
		<BusinessName>200金币</BusinessName><!-- 业务名称 -->
		<Expenses>200</Expenses><!-- 资费(可选) -->
		<Channel>23</Channel><!-- 已审批通过分配的子渠道 -->
	</MDOConfig>



	<AppProps>待扩展</AppProps>

	<Items>
		<item itemCode = "0007">
			<itemName>金币</itemName>
			<itemPrice>1000</itemPrice>
			<itemNumber>100</itemNumber>

			<itemprops>
				<discount>75</discount>
				<monthly>1</monthly>
			</itemprops>

			<payProps>
					<pay payType="0" >
						<payCode>014</payCode>
					</pay>

					<pay payType="1">
						<payCode>0025</payCode>
					</pay>

					<pay payType="2">
						<merID>6851</merID>
						<goodsID>010</goodsID>
						<amount>10</amount>
					</pay>
					<pay payType="3"><!-- MDO -->
						<contentID>6250</contentID><!-- 内容Id(四位数) -->
						<bussinessIndex>1850925</bussinessIndex><!-- 业务编号 -->
						<payCodeIndex>1</payCodeIndex><!-- 计费点编号 -->
					</pay>	
			</payProps>

			<feedback>
					<feedbackItemName>金币</feedbackItemName>
					<feedbackItemCode>0007</feedbackItemCode>
					<feedbackItemNumber>100</feedbackItemNumber>
			</feedback>
		</item>

		<item itemCode = "0008">
			<itemName>金币</itemName>
			<itemPrice>100</itemPrice>
			<itemNumber>10</itemNumber>

			<itemprops>
				<discount>90</discount>
				<monthly>1</monthly>
			</itemprops>

			<payProps>
					<pay payType="0" >
						<payCode>010</payCode>
					</pay>

					<pay payType="1">
						<payCode>0025</payCode>
					</pay>

					<pay payType="2">
						<merID>6851</merID>
						<goodsID>010</goodsID>
						<amount>10</amount>
					</pay>	
			</payProps>

			<feedback>
					<feedbackItemName>金币</feedbackItemName>
					<feedbackItemCode>0007</feedbackItemCode>
					<feedbackItemNumber>100</feedbackItemNumber>
			</feedback>
		</item>
	</Items>
</App>

