<App>
	<!-- The version number of this config file, it will auto update this based on the version on the server-->
	<XMLVer>1.0</XMLVer>

	<AppVer>1.1</AppVer>

	<!-- App Name -->
	<AppName>testgame</AppName>

	<!-- App ID assigned by AnyStore -->
	<AppID>123456</AppID>

	<!-- Channel ID assigned by AnyStore -->
	<ChannelID>23</ChannelID>
	
	<MMSDKConfig>
	    <MMKey>300001471175</MMKey>
	    <MMID>9F61262A660D8AEB</MMID>
	</MMSDKConfig>

	<MDOConfig>
		<DeductionNum>10658077016631</DeductionNum>
		<ContentIndex>252436</ContentIndex>
		<ContentName>捕鱼达人土豪金</ContentName>
		<BusinessName>200金币</BusinessName>
		<Expenses>200</Expenses>
		<Channel>23</Channel>
	</MDOConfig>

	<!-- Reserved for extension -->
	<AppProps></AppProps>

	<Items>
		<item itemCode = "0007">
			<!-- Name of the item -->
			<itemName>金币</itemName>
			<!-- Price of the item -->
			<itemPrice>1000</itemPrice>
			<!-- Quantity of the item -->
			<itemNumber>100</itemNumber>

			<itemprops>
				<discount>75</discount>
				<monthly>1</monthly>
			</itemprops>

			<payProps>
					<pay payType="0" >
						<payCode>014</payCode>
					</pay>

					<pay payType="1">
						<payCode>0025</payCode>
					</pay>

					<pay payType="2">
						<merID>6851</merID>
						<goodsID>010</goodsID>
						<amount>10</amount>
					</pay>
					<pay payType="3">
						<contentID>6250</contentID>
						<bussinessIndex>1850925</bussinessIndex>
						<payCodeIndex>1</payCodeIndex>
					</pay>	
			</payProps>

			<feedback>
					<feedbackItemName>金币</feedbackItemName>
					<feedbackItemCode>0007</feedbackItemCode>
					<feedbackItemNumber>100</feedbackItemNumber>
			</feedback>
		</item>

		<item itemCode = "0008">
			<itemName>金币</itemName>
			<itemPrice>100</itemPrice>
			<itemNumber>10</itemNumber>

			<itemprops>
				<discount>90</discount>
				<monthly>1</monthly>
			</itemprops>

			<payProps>
					<pay payType="0" >
						<payCode>010</payCode>
					</pay>

					<pay payType="1">
						<payCode>0025</payCode>
					</pay>

					<pay payType="2">
						<merID>6851</merID>
						<goodsID>010</goodsID>
						<amount>10</amount>
					</pay>	
			</payProps>

			<feedback>
					<feedbackItemName>金币</feedbackItemName>
					<feedbackItemCode>0007</feedbackItemCode>
					<feedbackItemNumber>100</feedbackItemNumber>
			</feedback>
		</item>
	</Items>
</App>

