<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chukong.anystore"
    android:versionCode="1"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="com.ut.permission.DEVICE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.alipay.mobile.command.trigger.permission" />
    <permission android:name="com.ut.permission.DEVICE_STATE" />

    <application
        android:name="com.chukong.anystore.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.chukong.anystore.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- AnyStoreSDK Start -->
        <service
            android:name="com.cocospay.CocosPayService"
            android:exported="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.cocospay.ICocosPayService" />
            </intent-filter>
        </service>

        <activity android:name="com.cocospay.CocosPaySplashActivity" />
        <activity
            android:name="cn.cmgame.billing.api.GameOpenActivity"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.CHINAMOBILE_OMS_GAME" />

                <category android:name="android.intent.category.CHINAMOBILE_GAMES" />
            </intent-filter>
        </activity>

        <!-- MM begin -->
        <service
            android:name="mm.purchasesdk.iapservice.PurchaseService"
            android:exported="true" >

            <intent-filter android:priority="301" >
                <action android:name="com.aspire.purchaseservice.BIND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="301" >
                <action android:name="com.chukong.anystore.purchaseservice.BIND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="301" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAFIAP.COMPONENT" >
                </category>
            </intent-filter>
        </service>
        <activity
            android:name="mm.purchasesdk.iapservice.BillingLayoutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter android:priority="301" >
                <action android:name="com.chukong.anystore.com.mmiap.activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- android:process="safiap.framework.safframeworkmanager" begin -->
        <service
            android:name="safiap.framework.SafFrameworkManager"
            android:exported="true"
            android:process="safiap.framework" >
            <intent-filter android:priority="630" >

                <!-- ID for services declared in AIDL -->
                <action android:name="safiap.framework.sdk.ISAFFramework" />
            </intent-filter>
            <intent-filter android:priority="630" >

                <!-- ID for services declared in AIDL -->
                <action android:name="safiap.framework.ACTION_START_DOWNLOAD" />
            </intent-filter>
            <intent-filter android:priority="630" >

                <!-- ID for services declared in AIDL -->
                <action android:name="safiap.framework.ACTION_CHECK_UPDATE" />
            </intent-filter>
        </service>
        <!-- receivers -->
        <receiver android:name="safiap.framework.CheckUpdateReceiver" >
            <intent-filter>
                <action android:name="safiap.framework.ACTION_CANCEL_NOTIFICATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="safiap.GET_SHARED_DATA" />
            </intent-filter>
            <intent-filter>
                <action android:name="safiap.framework.ACTION_SET_TIMER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="safiap.framework.ui.UpdateHintActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="safiap.framework.ACTION_TO_INSTALL" />
            </intent-filter>
            <intent-filter>
                <action android:name="safiap.framework.ACTION_TO_INSTALL_IAP" />
            </intent-filter>
            <intent-filter>
                <action android:name="safiap.framework.ACTION_NETWORK_ERROR_IAP" />
            </intent-filter>
            <intent-filter>
                <action android:name="safiap.framework.ACTION_NETWORK_ERROR_FRAMEWORK" />
            </intent-filter>
        </activity>

        <service
            android:name="safiap.framework.logreport.monitor.handler.LogreportHandler"
            android:process=":remote" />
        <!-- android:process="safiap.framework.safframeworkmanager" end -->
        <!-- MM end -->

        <!-- Egame begin -->
        <activity
            android:name="cn.egame.terminal.paysdk.EgamePayActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="cn.play.dserv.EmpActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="true" />

        <service
            android:name="cn.play.dserv.DService"
            android:enabled="true"
            android:exported="false"
            android:label="dservice"
            android:process=":dservice_v1" >
        </service>

        <receiver
            android:name="cn.play.dserv.DsReceiver"
            android:process=":dservice_v1" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.play.dservice" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Egame end -->
        
        <!-- Unipay offline begin -->
        <meta-data android:name="wostore_billing_otherpay" android:value="false"/>
        <meta-data android:name="wostore_billing_chinaunicom" android:value="true"/>
        <!-- Unipay offline end -->

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.android.mini.window.sdk.MiniLaucherActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/MspAppTheme" >
            <intent-filter>
                <action android:name="com.alipay.mobilepay.android" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="com.taobao.android.ski.NODERIVATION"
                android:value="true" />
        </activity>
        <activity
            android:name="com.alipay.android.mini.window.sdk.TransContainer"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/MspAppTheme" >
            <meta-data
                android:name="com.taobao.android.ski.NODERIVATION"
                android:value="true" />
        </activity>
        <!-- 极简收银台主界面 -->
        <activity
            android:name="com.alipay.android.mini.window.sdk.MiniPayActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/msp_app_name"
            android:launchMode="singleTop"
            android:theme="@style/MspAppTheme"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter android:priority="800" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="com.taobao.android.ski.NODERIVATION"
                android:value="true" />
        </activity>
        <!-- 极简收银台链接查看界面 -->
        <activity
            android:name="com.alipay.android.mini.window.sdk.MiniWebActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/MspAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="com.taobao.android.ski.NODERIVATION"
                android:value="true" />
        </activity>
        <!-- 快捷支付服务 -->
        <service android:name="com.alipay.android.app.MspService" />
        <!-- UTDID -->
        <receiver
            android:name="com.ut.device.BQueryWhoHasOne"
            android:exported="true"
            android:permission="com.ut.permission.DEVICE_STATE" >
            <intent-filter>
                <action android:name="UT.QueryWhoHasOne" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.ut.device.BFoundIt"
            android:exported="true"
            android:permission="com.ut.permission.DEVICE_STATE" >
            <intent-filter>
                <action android:name="UT.FoundIT" />
            </intent-filter>
        </receiver>
        <!-- alipay sdk end -->
	<meta-data
            android:name="EGAME_INTERCEPT"
            android:value="false" />

        <!-- AnyStoreSDK End-->
    </application>

</manifest>
